/* dashboard.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(254, 221, 221);
}

header {
    background-color: #fe6cb3;;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #d4e9ff;
}

main {
    padding: 20px;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #2b6cb0;
    font-size: 1.5em;
}

.section p {
    margin: 0;
    color: #333;
    line-height: 1.6;
}
