@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');

:root {
    --blood: rgb(255, 71, 71);
    --stroke-color: #7F0000;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    background-color: rgb(254, 221, 221);
}


.menu {
    display: flex;
    width: calc(100% - 3rem);
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem;
    height: 5.5rem;
    background-color: rgb(32, 32, 32);
    border-radius: 5rem;
    align-items: center;
}

.title {
    font-size: 2rem;
    color: #fff;
    width: 25%;
}

.btn {
    background-color: inherit;
    border: none;
    color: #fff;
    height: 100%;
    width: 8rem;
    font-size: 1.5rem;
    transition: 0.5s all;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    gap: 0.5rem;
    height: 100%;
}

.btn:hover {
    background-color: #333;
    cursor: pointer;
    font-weight: 600;
}

.signin {
    width: 20%;
}

.bg {
    position: absolute;
    top: -1.5rem;
    left: 0;
    height: 100%;
    width: 60%;
    z-index: -1;
    /* -webkit-mask-image: url(login.png); */
    border-radius: 0 20% 80% 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 45rem;
    width: 35rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12rem;
    right: 13rem;
    background-color: rgb(252, 235, 235);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254, 160, 207);
    border-radius: 20px 20px 0 0;
}

.donor, .giver {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #5d5c5c;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
}

.donor {
    border-radius: 20px 0 0 0;
}

.giver {
    border-radius: 0 20px 0 0;
}

.activeTask {
    background-color: rgb(252, 235, 235);
    border-radius: 20px 20px 0 0;
    border:none;
}

.info {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info input {
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
}

.info label {
    font-size: 2rem;
    align-self: flex-start;
}

.bigBtn {
    height: 4rem;
    width: 16rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    background-color: var(--blood);
    margin-top: 2rem;
}

.bigBtn:hover {
    background-color: rgb(252, 26, 26);
}

.hello {
    font-size: 3.5rem;
    text-align: center;
    color: #7e7e7e;
    font-family: "Palanquin Dark", sans-serif;
}